@using Microsoft.Extensions.Configuration;
@inherits LayoutComponentBase
@inject IConfiguration configuration
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="top-row px-4">
            <a href="@apiPath" target="_blank">Using API: @configuration["APIProtocol"]@configuration["APIHost"]:@configuration["APIPort"]</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    //  https://dev.to/rasheedmozaffar/how-can-you-add-appsettingsjson-to-a-blazor-webassembly-project-5826 
    private String apiPath = "#";
    protected override void OnInitialized()
    {
        apiPath = configuration.GetValue<string>("APIProtocol") + configuration.GetValue<string>("APIHost") + ":" + configuration.GetValue<string>("APIPort");
        apiPath = apiPath +"/"+ APIConstantsDef.API_ROOT+"/"+APIConstantsDef.API_BOOK+"/"+APIConstantsDef.API_BOOK_about;
    }
}