@page "/"
@using System.Text
@using System.Net.Http
@inject IConfiguration configuration
@inject IHttpClientFactory ClientFactory
<PageTitle>Home</PageTitle>

<h1>Book Catalog Management System</h1>

<p>This is a <span class="fw-bold">Book Catalog Management System</span> that allows users to manage and track a collection of books. </p>
<p>Users should be able to:</p>
<ul>
    <li>view the list of books in a table format. </li>
    <li>search and filter books by title, author, and genre.</li>
    <li>add new books to the catalog via a form. </li>
    <li>update book details. </li>
    <li>delete books from the catalog. </li>
</ul>
<p>UI has a responsive design that works seamlessly on both desktop and mobile devices.</p>
<p>Data won't be persisted because it is stored in memory <br/> 
 (it was explicitly stated: <span class="font-monospace">Database: In-memory storage</span> ) <br/>
 But you may Remove everything and Upload from CSV file</p>
<div class="container">
    <div class="row">
        <label for="useFile">Choose a CSV File:</label>
        <input type="file" id="useFile" name="useFile" accept=".csv"/>
    </div>
    <div class="row mx-1">
         <label class="checkbox-inline"><input type="checkbox" id="removeBooks" name="removeBooks" checked />&nbsp;&nbsp;&nbsp;Remove entered books</label>
    </div>
    <div class="row mx-1">
         <label class="checkbox-inline" ><input type="checkbox" id="removeCategories" name="removeCategories" checked />&nbsp;&nbsp;&nbsp;Remove entered genres</label> 
    </div>
    <button class="btn btn-primary" @onclick="UploadFileNow">UPLOAD FILE</button>
</div>
@code {
    // I am sorry, do I write code right into View? Well that is awkward
    // https://learn.microsoft.com/en-us/aspnet/core/blazor/call-web-api?view=aspnetcore-9.0
    private async void UploadFileNow(MouseEventArgs e)
    {
        StringBuilder apiPath = new StringBuilder();
        apiPath.Append(configuration.GetValue<string>("APIProtocol"));
        apiPath.Append(configuration.GetValue<string>("APIHost"));
        apiPath.Append(":");
        apiPath.Append(configuration.GetValue<string>("APIPort"));
        StringBuilder queryPath = new StringBuilder();
        queryPath.Append(APIConstantsDef.API_ROOT); queryPath.Append("/");
        queryPath.Append(APIConstantsDef.API_BOOK); queryPath.Append("/");
        queryPath.Append(APIConstantsDef.API_BOOK_upload);
        var request = new HttpRequestMessage(HttpMethod.Get, apiPath.ToString() + "/" + queryPath.ToString());
        request.Headers.Add("Accept", "application/json");
        var client = ClientFactory.CreateClient();

        var response = await client.SendAsync(request);
    }
}